<%- include("partials/header.ejs") %>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Welcome to FasterShopper</h1>
          <p class="lead text-muted">Let's shopping!</p>
          <p>
            <a href="/Products/new" class="btn btn-primary my-2">Add new product</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <% Products.forEach(function(Product){ %>

          <div class="col">
            <div class="card shadow-sm">
              <img src="<%= Product.url %>"height="300px" class="index-image">
  
              <div class="card-body">
                <p class="card-text"><%= Product.Name %></p>

              <div class="card-body">
                <p class="card-text">Brand: <%= Product.Brand %></p>
                
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                  </div>
                  </div>
                  
                </div>
              </div>
            </div>
        </div>
        <% }) %>
        </div>
      </div>
    </div>

<%- include("partials/footer.ejs") %>