<%- include("partials/header.ejs") %>
<h1><%= Product.Brand %></h1>         
<img src="<%= Products.url %>"height="300px" class="index-image">
<p><%= Product.Name %></p>
               
<%- include("partials/footer.ejs") %>